---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contributors";
---

<BaseLayout pageTitle={pageTitle}>
<p>This project started as Rosa V.'s Graduate Project at UNCC ECE and has continued to be updated by the graduate students under Ron Sass's RCS lab! Thank you to everyone contributing to public education for reconfigurable computing!</p>
<ul>
<li>Ron Sass</li>
<li>Rosa V.</li>
<li>Davy H.</li>
</ul>
</BaseLayout>
