---
import { basePath } from "../config";
---
<div class="nav-links">
  <a href={basePath}>Home</a>
  <a href={`${basePath}blog/`}>Blog</a>
  <a href={`${basePath}tags/`}>Tags</a>
  <a href={`${basePath}contributors/`}>Contributors</a>
  <a href="https://github.com/rvergar4" target="_blank">GitHub</a>
</div>
